.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    background-color:rgb(255, 133, 204);
    text-align: center;
    border: 5px dashed rgb(16, 153, 163);
    padding-top: 10px;
    margin: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box:hover{
    background-color:rgb(249, 0, 166);
    box-shadow: 50px 50px 40px rgb(0, 0, 0);   
}
p.normal{
    font-style: normal ;
    font-weight: bold ;
}
p.italic{
    font-style: italic ;
    font-weight: bold ;
}
div>div>p{
    font-style: large ;
    font-weight: bold ;
}
div>p{
    font-style: smaller ;
    font-weight: bold ;
}
.box2{
    position: relative;
    left: 0px;
    border: 3px solid #ff0909;
}
div + p{
    background-color: yellow;
}